.navbar{
	background-color: transparent;
	height: 80px;
	padding-left: 5vw;
	padding-right: 5vw;
	color: @font-color;
	//border-bottom: 1px solid #ccc;
}

.navbar-brand{
	height: 80px;
}

.logo{
	padding-top: 15px;
	padding-bottom: 15px;
	height: 100%;
}

.nav-item{
	margin-right: 20px;
	margin-left: 20px;
}

.nav-link{
	color: @font-color;
	&:hover{
		color: @primary-color;
	}
}