.navbar{
	background-color: transparent;
	height: 80px;
	padding-left: 5vw;
	padding-right: 5vw;
	color: @font-color;
	//border-bottom: 1px solid #ccc;
}

.navbar-brand{
	height: 80px;
}

.logo{
	padding-top: 15px;
	padding-bottom: 15px;
	height: 100%;
}

.nav-item{
	margin-right: 20px;
	margin-left: 20px;
}

.nav-link{
	color: @font-color;
	&:hover{
		color: @primary-color;
	}
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#FD7755' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse{
	background-color: #fff;
}